# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.run.xml
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.xdv
*.sty
*.zip
*.md

# Biber files
*.bib.bak

# Glossaries
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist

# TikZ / externalization
*.tikz
*.dpth

# Generated PDFs (optional)
# Uncomment if you DON'T want PDFs in git
# *.pdf

# macOS
.DS_Store

# VS Code
.vscode/


# slide style files
elements
Miniforge3.sh


# Salvus files


simulation_wavefield_output/


# File with figures for meeting
figures/

simulation_wavefield_output_moment_tensor/

simulation_wavefield_output_moment_tensor_larger/

simulation_wavefield_output_multi/

simulation_wavefield_output_topo/

simulation_wavefield_output_dense/
