# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.run.xml
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.xdv
*.sty
*.zip
*.md

# same for idea leaague layout
Report/IDEA_league_MSc thesis standard layout_RWTH/*.aux
Report/IDEA_league_MSc thesis standard layout_RWTH/*.bbl
Report/IDEA_league_MSc thesis standard layout_RWTH/*.bcf
Report/IDEA_league_MSc thesis standard layout_RWTH/*.blg
Report/IDEA_league_MSc thesis standard layout_RWTH/*.idx
Report/IDEA_league_MSc thesis standard layout_RWTH/*.ilg
Report/IDEA_league_MSc thesis standard layout_RWTH/*.ind
Report/IDEA_league_MSc thesis standard layout_RWTH/*.lof
Report/IDEA_league_MSc thesis standard layout_RWTH/*.log
Report/IDEA_league_MSc thesis standard layout_RWTH/*.lot
Report/IDEA_league_MSc thesis standard layout_RWTH/*.out
Report/IDEA_league_MSc thesis standard layout_RWTH/*.run.xml
Report/IDEA_league_MSc thesis standard layout_RWTH/*.toc
Report/IDEA_league_MSc thesis standard layout_RWTH/*.synctex.gz
Report/IDEA_league_MSc thesis standard layout_RWTH/*.fls
Report/IDEA_league_MSc thesis standard layout_RWTH/*.fdb_latexmk
Report/IDEA_league_MSc thesis standard layout_RWTH/*.nav
Report/IDEA_league_MSc thesis standard layout_RWTH/*.snm
Report/IDEA_league_MSc thesis standard layout_RWTH/*.vrb
Report/IDEA_league_MSc thesis standard layout_RWTH/*.xdv
Report/IDEA_league_MSc thesis standard layout_RWTH/*.sty
Report/IDEA_league_MSc thesis standard layout_RWTH/*.zip
Report/IDEA_league_MSc thesis standard layout_RWTH/*.md

# Biber files
Report/IDEA_league_MSc thesis standard layout_RWTH/*.bib.bak

# Glossaries
Report/IDEA_league_MSc thesis standard layout_RWTH/*.acn
Report/IDEA_league_MSc thesis standard layout_RWTH/*.acr
Report/IDEA_league_MSc thesis standard layout_RWTH/*.alg
Report/IDEA_league_MSc thesis standard layout_RWTH/*.glg
Report/IDEA_league_MSc thesis standard layout_RWTH/*.glo
Report/IDEA_league_MSc thesis standard layout_RWTH/*.gls
Report/IDEA_league_MSc thesis standard layout_RWTH/*.ist

# TikZ / externalization
Report/IDEA_league_MSc thesis standard layout_RWTH/*.tikz
Report/IDEA_league_MSc thesis standard layout_RWTH/*.dpth

Report/IDEA_league_MSc thesis standard layout_RWTH/StyleStuff/

Report/IDEA_league_MSc thesis standard layout_RWTH/*.png
Report/IDEA_league_MSc thesis standard layout_RWTH/*.gif
Report/IDEA_league_MSc thesis standard layout_RWTH/*.ps
Report/IDEA_league_MSc thesis standard layout_RWTH/*.cls
Report/IDEA_league_MSc thesis standard layout_RWTH/*.bat
Report/IDEA_league_MSc thesis standard layout_RWTH/*.cb
Report/IDEA_league_MSc thesis standard layout_RWTH/*.txt
Report/IDEA_league_MSc thesis standard layout_RWTH/*.thm
Report/IDEA_league_MSc thesis standard layout_RWTH/*.el
Report/IDEA_league_MSc thesis standard layout_RWTH/*.eps
Report/IDEA_league_MSc thesis standard layout_RWTH/*.nls
# Biber files
*.bib.bak

# Glossaries
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist

# TikZ / externalization
*.tikz
*.dpth

# Generated PDFs (optional)
# Uncomment if you DON'T want PDFs in git
# *.pdf

# macOS
.DS_Store

# VS Code
.vscode/


# slide style files
elements
Miniforge3.sh

# Animatrion plots
Test Simulations / *.mp4
Test Simulations / *.gif 


# Salvus files


simulation_wavefield_output/


# File with figures for meeting
figures/

simulation_wavefield_output_moment_tensor/

simulation_wavefield_output_moment_tensor_larger/

simulation_wavefield_output_multi/

simulation_wavefield_output_topo/

simulation_wavefield_output_dense/

simulation_wavefield_output_denser/

simulation_wavefield_output__very_denser/

simulation_wavefield_output_very_denser/

simulation_wavefield_output_larger/

simulation_wavefield_output_moment_tensor_bigger/

simulation_wavefield_output_multi_mom/

simulation_wavefield_moving_source/

simulation_wavefield_moving_source_momentt/

simulation_wavefield_moving_source_momentt_subrayleigh/

simulation_wavefield_moving_source_momentt_slight_subrayleigh/

simulation_wavefield_moving_source_momentt_slight_subrayleigh_dense/

simulation_wavefield_moving_source_vector_slight_subrayleigh_vertical_neg/

simulation_wavefield_moving_source_vector_slight_subrayleigh_vertical_pos/

simulation_wavefield_moving_source_vector_slight_subrayleigh_both/

simulation_wavefield_moving_source_vector_slight_subrayleigh_both_neg/

simulation_wavefield_moving_source_vector_slight_subrayleigh_x/

simulation_wavefield_moving_source_moment_slight_subrayleigh_x/

simulation_wavefield_moving_source_vector_slight_subrayleigh_x_pos/

simulation_wavefield_moving_source_moment_slight_subrayleigh_x_pos/

simulation_wavefield_moving_source_slight_subrayleigh_different_sources/

simulation_fault_zone/

simulation_fault_zone_mode_1/

simulation_fault_zone_mode_2/

simulation_fault_zone_czm/

simulation_fault_zone_czm_adjusted_time_domain/

simulation_fault_zone_czm_adjusted_time_domain_supershear/

simulation_fault_zone_czm_adjusted_time/

simulation_fault_zone_czm_adjusted_time_supershear/

simulation_wavefield_output_rupture_domain/

simulation_fault_zone_czm_adjusted_time_sub/

simulation_fault_zone_czm_adjusted_time_supershear_xx/

simulation_fault_zone_czm_mode1/

simulation_fault_zone_czm_mode2/

simulation_fault_zone_czm_mode_1/

simulation_fault_zone_czm_mode_2/

simulation_fault_zone_czm_adjusted_time_sub_elastic/

simulation_fault_zone_czm_adjusted_time_sub_exponential/

simulation_fault_zone_czm_adjusted_time_sub_m1/

simulation_fault_zone_czm_adjusted_time_super_m1/

simulation_fault_zone_czm_adjusted_time_super_linear_m1/

simulation_fault_zone_czm_adjusted_time_sub_linear_m1/

simulation_fault_zone_czm_adjusted_time_sub_linear_m1_f20/

simulation_fault_zone_czm_adjusted_time_super_linear_m1_f20/

simulation_fault_zone_czm_adjusted_time_super_linear_m1_f150/

simulation_fault_zone_czm_adjusted_time_sub_linear_m1_f150/

simulation_fault_zone_czm_adjusted_time_super_linear_m1_f150_coarse/

simulation_fault_zone_czm_adjusted_time_sub_linear_m1_f20_dense/

simulation_fault_zone_czm_adjusted_time_sub_linear_m1_f20_scaled/

simulation_fault_zone_czm_adjusted_time_sub_linear_m1_f20_bigger_source_spacing/

simulation_fault_zone_czm_adjusted_time_sub_linear_m1_f20_different_source_loc/

simulation_fault_zone_czm_adjusted_time_sub_linear_m1_f20_ZEROS/

simulation_fault_zone_czm_adjusted_time_sub_linear_m1_f20_causal/

simulation_fault_zone_czm_adjusted_time_sub_linear_m1_f20_large_spacing/

simulation_fault_zone_czm_adjusted_time_sub_linear_m1_f20_src_delay/

simulation_fault_zone_czm_adjusted_time_sub_linear_m1_f20_wide/

simulation_fault_zone_czm_adjusted_time_sub_linear_m1_f20_jitter/

simulation_fault_zone_czm_adjusted_time_sub_linear_m1_f20_jitter_opt/
job_*
*.sqlite3
job_*/
*.h5
*.mat
*.ipynb
*.sqlite3
*.code-workspace

simulation_fault_zone_czm_adjusted_time_sub_linear_m1_f20_single/

simulation_fault_zone_czm_adjusted_time_sub_linear_m1_f20_single_src/

simulation_fault_zone_czm_adjusted_time_sub_linear_m1_f20_simple/

simulation_wavefield_moving_source_like_czm_subrayleigh/

moving_source_wavefield_output/

simulation_wavefield_moving_source_simple_test/

simulation_wavefield_moving_source_simple_test_multiple_src/

simulation_wavefield_moving_source_simple_test_multiple_src_small/

simulation_wavefield_moving_source_simple_test_multiple_src_smaller/

simulation_wavefield_moving_source_simple_test_multiple_src_bigger_domain_small/
simulation_wavefield_moving_source_simple_test_multiple_src_bigger_domain/

simulation_wavefield_moving_source_like_czm_subrayleigh_scaled_t/

simulation_wavefield_moving_source_like_czm_subrayleigh_manual_t/

simulation_wavefield_moving_source_like_czm_no_input/

simulation_wavefield_moving_source_no_input/

simulation_wavefield_moving_source_only_input/

simulation_wavefield_moving_source_no_input_/

simulation_wavefield_moving_source_forced/

simulation_wavefield_experiment/

simulation_wavefield_moving_source_like_czm_no_input_COPY/

simulation_wavefield_like_tutorial/

simulation_wavefield_custom_stf/

simulation_wavefield_custom_stf_rolled/

simulation_wavefield_custom_stf_rolled_denser/

simulation_fault_zone_czm_adjusted_time_super_linear_m1_f20_simple/

simulation_wavefield_custom_SUPER_stf_rolled_denser/

simulation_wavefield_custom_SUPER_stf_rolled/

simulation_wavefield_custom_stf_weighted/

simulation_wavefield_custom_stf_weighted_denser/

simulation_wavefield_custom_stf_weighted_simpler_mesh/

custom_job_moving_source_all_sources/


simulation_wavefield_custom_stf_weighted_simpler_mesh_dense/
simulation_wavefield_custom_stf_simpler_mesh_dense/
simulation_wavefield_custom_stf_unweighted_simpler_mesh_dense/

simulation_wavefield_custom_stf_simpler_mesh_dense_SUB/

simulation_wavefield_custom_stf_simpler_mesh_dense_copy/

simulation_wavefield_custom_stf_rolled_super/

simulation_wavefield_custom_stf_weighted_super/
